
/* css */

.c-item{
    background-color: #9C3848;
}
.slide1{
    background-color: #4E8098;
}
.slide2{
    background-color: #995D81;
}
.slide3{
    background-color: #90C2E7;
}
.slide4{
    background-color:#CED3DC ;
}
.slide5{
    background-color: #FCF7F8;
}
